body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Whitney', sans-serif;
}
/* impostazioni del header*/
header{
   background-image:url(img/jumbo.png);
   background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
 
}


/* impostazioni del menu del sito*/
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center ;
    width: 70%;
    margin: auto;
    height: 10%;
}


a{
    color: white;
    text-decoration: none;
}

#logo{
    width: 20%;
    height: 100%;
    padding-left: 10px;
    align-content: center;
}

.voci-menu{
    padding: 0%;
    display: inline-flex;
    list-style-type: none;
    gap: 40px;
    margin: auto;
}


#login{
    border-radius: 20px;
    border-color: transparent;
    width: auto;
    padding: 3px 25px;
    align-content: center;
    text-align: end;
    margin: auto;


}

/* impostazioni della presentazione principale della pagina*/

#principale{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 70%;
    height: 86%;
}
h1{
    font-size: 45px;
}

.tp{
    color: white;

}

#principale{
color: white;
text-align: center;
} 

p{
    font-size: 20px;
    line-height: 30px;
}



/* INIZIO DEL MAIN*/ 

main{
    background-color: white;
    width: 100%;
    height: auto;

}


.row{
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    flex-wrap: wrap;
    margin: 10% auto;
    width: 100%;
    height: auto;

}

.testo{
 width: 20%;

}

.quarta{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    gap: 10%;
    flex-wrap: wrap;
    margin: 10% auto;
    width: 100%;
    height: auto;
    text-align: center
    ;

}

.centrale{
    width: 75%;
    margin: auto;
}

h3{
    margin: 0;
    font-size: 30px;
    text-align: center;
}

#dawload{
    background-color: rgba(68, 45, 214, 0.642);
    border-radius: 20px;
    border-color: transparent;
    padding: 10px;
    margin: 2% auto;
    color: white;
    width: 15%;

}

/* stylin seconda e quarta sezione*/ 
.seconda, .quarta{
    background-color:  rgb(128, 128, 128, 0.5);
    background-size: cover;
    padding: 5%;
}


/* Pie pagina*/ 

footer{
    background-color: black;
    width: 100%;

    /*DEBUG*/
    height: 500px;
}

.contenitore-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80% ;
}
.pink{
    /*DEBUG*/
    background-color: pink;
    width: 30%;
    height: 80%;
    border-style: dashed;
}

#verdi{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 80% ;
}

.square-verde{
    /*DEBUG*/
    background-color: green;
    height: 100%;
    border-style: dashed;
}